@using LojaDeMateriais.Models
@model LojaDeMateriais.Models.Produto
@{
    ViewData["Title"] = "Materiais";
    var produto = Model;
}

<hr />
<div class="row">
    <div class="col-md-8">
       
        <img src="https://i.imgur.com/RHepbj7.png" width="80%" />
       
    </div>

    <div class="col-md-4">
        <h1>@produto.Nome</h1>
        <h2>R$@produto.Preco,00</h2>
        

        <a class="btn btn-dark lg w-50" style="color:white;">Comprar</a>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
