@using LojaDeMateriais.Models
@model List<Produto>;


@{
    ViewData["Title"] = "Produtos";
}


<h4>Produtos</h4>
<hr />
<div class="row rounded bg-white p-3 shadow-lg">
    <div class="col-md-11">

        <div class="container">
            <div>
                @foreach (var produto in Model)
                {
                    <div class="row align-items-lg-center border-bottom bg-white">

                        <div class="col-4">
                            <img src="https://i.imgur.com/A0A4T87.png" class="" />
                        </div>

                        <div class="col-8 mb-4">
                            <div scope="row">@produto.Nome</div>
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                            <div>R$@produto.Preco,00</div>
                           
                            <div>
                                <button class="btn btn-dark lg shadow mt-1"
                                        onclick="adicionarNoCarrinho(this)" id="@produto.Id">
                                    Adicionar ao carrinho
                                </button>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>

    </div>
</div>

<div class="flex justify-content-end m-2 divFinalizar">
    <a class="btn btn-dark lg "
       asp-controller="Venda"
       asp-action="Resumo">Finalizar Venda</a>
</div>


<div class="col-2 bg-white cartList shadow-lg">
    <div class="row justify-content-xl-between align-items-center p-1 border-bottom">
        <div>
            <h2>Carrinho</h2>
        </div>
        <div>
            <button class="btn-danger btn-sm rounded-circle" id="btnFechar" onclick="fecharModal()">X</button>
        </div>
    </div>
    <div>
        @foreach (var produto in Model)
        {
            <div class="row align-items-lg-center border-bottom bg-white">

                <div class="col-4">
                    <img src="https://i.imgur.com/A0A4T87.png" class="" />
                </div>

                <div class="col-8 mb-4">
                    <div scope="row"><span> @produto.Nome </span></div>
                    <div> <span> R$@produto.Preco,00 </span></div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    var btn = document.getElementById("#btnFechar");
    var divCarrinho = document.querySelector(".cartList");

    function fecharModal() {
        divCarrinho.style.display = "none";
    }

    function abrirModal() {
        divCarrinho.style.display = "block";
    }


    function adicionarNoCarrinho(btn) {
  
        var item = $(btn).attr('id');

        $.ajax({
            url: '/venda/RealizarVenda',
            type: 'POST',
            contentType: 'application/json',
            data: item
        }).done(function (response) {
            console.log("produto incluido");
            abrirModal();
        });
    }

</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}


<style>
    p {
        padding-top: 10px;
        font-family: Arial;
        font-size: 14px;
        font-weight: 200;
    }

    .divFinalizar {
        display: flex;
        align-items: end;
        justify-content: flex-end;
        margin: 20px 0px;
    }

    .cartList {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
    }

        .cartList img {
            width: 100px;
        }
</style>