@model List<Produto>;
<hr />
<div class="row rounded bg-white p-3 shadow-lg">
    <div class="col-md-11">

        <div class="container">
            <div>
                @foreach (var produto in Model)
                {
                    <partial name="_ProdutoCard" model="@produto" /> 
                }
            </div>
        </div>

    </div>
</div>